body { color: ff0000; }
h2 { color: ff0000; }
header { background-color: 008d00; }
body { color: #ff0000; }
h2 { color: #ff0000; }
header { background-color: #008d00; }
body { color: #ff0000; }
h2 { color: #ff0000; }
header { background-color: #008d00; }
footer { background-color: #008d00; }
